%h3
	Users Created
/Old Style - inefficient
/= line_chart @users.group_by_hour(:created_at).count
/New Style - efficient at large scale
= line_chart charts_users_per_day_path
%p

%h3
	Enrollments Created
= column_chart charts_enrollments_per_day_path

%h3
	Course Popularity
/= pie_chart @courses.group(:enrollments_count).count
/In the below code, we group by and then pass well, I don't quite know why the '' - It ensures the second part is treated
/as a symbol as well. Further research required
= pie_chart charts_popular_courses_path

%p

%h3
	Money Makers
= column_chart charts_money_makers_path