%h1 New lesson

%p#notice=notice

-# Below is a solid breadcrumbs style to emulate

= link_to 'Courses', courses_path
\/
= link_to @course.title ,course_path(@course)
\/
New Lesson




= render 'form'

= link_to 'Back', course_path(@course)
