- content_for :title do 
  Coursego
  \|
  Edit Course
  = @course.title
end

.card
  .card-header
    %h3 
      .fa.fa-graduation-cap
      Editing course
  .card-body
    = render 'form'

= link_to 'Show', @course
\|
= link_to 'Back', courses_path
