@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";





.form-control.is-invalid {background-image: none !important;}
.form-control.is-valid {background-image: none !important;}


a:hover {
  background-color: transparent !important;
}